<% include ./partials/header.ejs %>

    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Hello, I'm Hyojin.</h1>
            <h5 class="display-10">AND WELCOME TO MY PERSONAL PORTFOLIO</h5>
            <p class="lead"></p>
            <hr class="my-4">
            <p>I'm Hyojin Kim. I'm a creative web developer and a lover of life. 
            <br>
            ▼ Let me introduce myself. ▼</p>
            <a class="btn btn-primary btn-lg" href="/about" role="button">About Me</a>
        </div>
    </div>

<% include ./partials/footer.ejs %>